ai-edge-litert==2.1.0
backports-strenum==1.2.8
backports.tarfile==1.2.0
email-validator==2.3.0
fastapi==0.125.0
fastapi-cli==0.0.16
fastapi-cloud-cli==0.8.0
httptools==0.7.1
importlib-metadata==8.0.0
jaraco.collections==5.1.0
jinja2==3.1.6
pillow==12.0.0
platformdirs==4.2.2
python-dotenv==1.2.1
python-multipart==0.0.21
pyyaml==6.0.3
tomli==2.0.1
uvloop==0.22.1
watchfiles==1.1.1
websockets==15.0.1
